<h1> Welome to the student database. </h1>
<p> This is a home page</p>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/23/George_Watson%27s_College_Logo.svg/744px-George_Watson%27s_College_Logo.svg.png" />
