<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <div class="navigation">
      <ul>
        <li><a href="/students">All Students</a></li>
        <li><a href="/students/new">Add Students</a></li>
      </ul>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
