<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/students">All Students</a></li>
        <li><a href="/students/new">Add Students</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
